<div class="sidenav-header">
  <md-menu-bar class="main-menu md-whiteframe-z1">
  </md-menu-bar>
  <header id="logo">
    <div class="logo">
      <img src="assets/img/logo-ibeis.png" height="240" width="240" ng-click="toggleLogo()">
    </div>
  </header>
  <md-divider></md-divider>
	<div style="text-align: center; font-family: 'Scope One';">
		<h1> Wildbook </h1>
	</div>
	<div style="font-family: 'Scope One'; padding-left: 15px; padding-right: 15px">
		<p style="text-align: justify; font-size: 14.3px"> Wildbook blends structured wildlife research with artificial intelligence, citizen science,
      and computer vision to speed population analysis and develop new insights to help fight extinction.</p>
    <div style="text-align: center">
      <a href="http://wildbook.org/doku.php"> Learn More </a>
    </div>
	</div>
  <br>
  <div style="text-align: center">
    <h1> Our Interface </h1>
  </div>
  <div style="padding-left:15px; padding-right: 15px">
    <p style="text-align: justify; font-size: 14.3px"> Our interface provides citizen scientists all the tools they need to track, discover and identify animals they've photographed.
      Using the Image Based Ecological Identification System (IBEIS) you will be able to detect animal information and relationships all at the click of a button.
      There are only 5 easy steps when working with Wildbook:
      <ol>
        <li> Upload your Wildlife photos </li>
        <li> Run the IBEIS Detection </li>
        <li> Review the Detection results </li>
        <li> Run the IBEIS Identification </li>
        <li> Review the Identification results </li>
      </ol>
      After these simple steps you will have access to all new information about the animals you've photographed. </p>
</div>
</md-sidenav>
