<md-dialog class="fullScreenDialog" aria-label="fullScreenDialog"  >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Detection Review</h2>
      <span flex></span>
      <!-- <md-button class="md-primary" ng-click="detection.endReview()">Save and Exit
        <md-tooltip md-autohide>
          Submit current review and exit
        </md-tooltip>
      </md-button> -->
      <md-button class="md-icon-button" aria-label="Cancel" ng-click="detection.detectDialogCancel()">
        <i class="fa fa-remove"></i>
        <md-tooltip md-autohide>
          Return to workspace
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-dialog-actions layout="row">
      <div>
        <md-button id="back-button" class="md-primary md-raised" ng-disabled="!detection.allowBackButton" ng-click="detection.getPrev()">Go Back</md-button>
        <md-button class="md-primary md-raised" ng-click="detection.getNext()">Next Image</md-button>
        <!-- <md-utton class="md-primary md-raised" ng-click="detection.endReview()">Save and Exit</md-button> -->
      </div>
    </md-dialog-actions>
    <div id="detection-loading" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- Wraps the Detection Review from IA Server in a div for formatting purposes -->
    <div style="padding-left: 10px;">
      <div style="padding-left: 10px;padding-right: 10px" class="ibeis-div" id="detection-review"></div>
    </div>
	<div id="detection-complete">{{detection.reviewCompleteText}}</div>
  <div id="past-detections" layout="row" layout-sm="column" layout-align="center">
    <md-card class="card-img-parent" style="max-width: 150px; max-height: 150px;" ng-repeat="url in pastDetectionUrls">

      <!-- <div ng-if="id == $detection.currentReviewID" style="border: 1px solid black;"> -->

      <img class="lazyload" data-src="{{url}}" style="max-height: 150px; max-width: 150px; width: auto" />

      <!-- </div> -->

    </md-card>
  </div>
  </md-dialog-content>
</md-dialog>
