<md-dialog id="image-info" aria-label="imageInfo"  >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Image Information: <em>{{ mediaAsset.id }}</em></h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Cancel" ng-click="cancel()">
        <i class="fa fa-remove"></i>
        <md-tooltip md-autohide>
          Return to workspace
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- image display -->
    <img style="margin: 0 auto; display: block; max-width: 100%; padding-top: .75cm" src="{{ mediaAsset.url }}" />
    <div class="md-dialog-content">
      <!-- image metadata and information -->
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Date and Time</b></md-subheader>
      <md-list>
        <div ng-if="!edit_datetime" ng-init="edit_datetime=false">
          <md-list-item>
            {{ convertDateTime(mediaAsset.dateTime) }}
            <md-icon-button ng-click="$parent.edit_datetime=true" class="fa fa-edit" style="color: green; padding-left: 15px;"></md-icon-button>
          </md-list-item>
        </div>
        <div ng-if="edit_datetime">
          <md-datepicker ng-model="datetime_model" ng-init="set_datetime_model()" ng-value="mediaAsset.dateTime"
          md-min-date="min_date" md-max-date="max_date" ng-change="workspace_input.datetime_input = datetime_model.toISOString()"></md-datepicker>
          <!-- &nbsp; -->
          <md-icon-button ng-click="save_datetime(); $parent.edit_datetime=false" style="padding-left: 15px;" class="fa fa-save"></md-icon-button>
        </div>
      </md-list>
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Marked Individuals</b></md-subheader>
      <md-list>
        <div ng-if="!edit_marked_individual" ng-init="edit_marked_individual=false">
          <!--md-list-item ng-repeat="ind in mediaAssetContext.MarkedIndividuals"-->
          <md-list-item>
            <!--a href="{{ ind.url }}">{{ ind.individualID }}</a-->
            {{mediaAsset.features[0].individualId}}
            <md-icon-button ng-click="$parent.edit_marked_individual=true" class="fa fa-edit" style="color: green; padding-left: 15px;"></md-icon-button>
          </md-list-item>
        </div>
        <div ng-if="edit_marked_individual">
          <md-input-container >
            <input ng-model="individual_model" ng-value="mediaAsset.features[0].individualId" ng-change="workspace_input.individual_input=individual_model">
          </md-input-container>
          <md-icon-button ng-click="save_marked_individual(); $parent.edit_marked_individual=false" class="fa fa-save"></md-icon-button>
        </div>
      </md-list>
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Occurences</b></md-subheader>
      <md-list>
        <md-list-item>
          {{ mediaAsset.occurrenceID }}
        </md-list-item>
      </md-list>
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Annotations</b></md-subheader>
      <md-list>
        <md-list-item ng-repeat="ann in mediaAssetContext.Annotations">
          {{ ann.id }}
        </md-list-item>
      </md-list>
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Encounters</b></md-subheader>
      <md-list>
        <!--md-list-item ng-repeat="(id, enc) in mediaAssetContext.Encounters"-->
        <md-list-item>
          {{ mediaAsset.features[0].encounterId }}
        </md-list-item>
      </md-list>
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Metadata</b></md-subheader>
      <md-list>
        <md-list-item ng-repeat="(k, v) in mediaAsset.metadata" class="md-2-line">
          <div class="md-list-item-text">
            <h4><b>{{ k }}:</b> {{ v }}</h4>
          </div>
        </md-list-item>
      </md-list>
      <md-subheader style="color: white; background-color: #4CAF50;"><b>Detection Status</b></md-subheader>
      <md-list>
        <md-list-item>
          <p ng-if="detectionStatus() == 0"> Detection not run </p>
          <p ng-if="detectionStatus() == 1"> Detection awaiting review </p>
          <p ng-if="detectionStatus() == 2"> Detection review complete </p>
          <p ng-if="detectionStatus() == -1"> There was an error when running detection </p>
        </md-list-item>
      </md-list>

      <!-- TODO: UNCOMMENT FOLLOWING CODE WHEN MORE LABEL SUPPORT IS ADDED - UNDERWHELMING AS IS -->
      <!-- <md-subheader style="color: white; background-color: #4CAF50;"><b>Labels</b></md-subheader>
      <md-list>
        <div>
          <md-list-item class="md-2-line">
            <div ng-if="mediaAsset.labels.indexOf('junk') >= 0">
              <i class="fa fa-fw fa-trash-o fa-3x"></i>
              <md-tooltip md-autohide> Junk </md-tooltip>
            </div>
            <div ng-if="mediaAsset.labels.indexOf('important') >= 0">
              <i class="fa fa-fw fa-star-o fa-3x"></i>
              <md-tooltip md-autohide> Important </md-tooltip>
            </div>
          </md-list-item>
        </div>
      </md-list> -->

      <!-- Each button checks whether or not the current mediaAsset is labelled junk/important and displays the correct information depending on the labels. -->

      <!-- <md-button style="background-color: #D3D3D3;" ng-if="isImportant(mediaAsset.id, mediaAsset.labels) == 1" ng-click="remove_label('important')"><strong>
        Remove Important Classification
      </strong></md-button>
      <md-button style="background-color: #D3D3D3;" ng-if="isImportant(mediaAsset.id, mediaAsset.labels) == 0" ng-click="add_label('important')"><strong>
        Classify as Important
      </strong></md-button>
      <md-button style="background-color: #D3D3D3;" class="dltbtn" ng-if="isJunk(mediaAsset.id, mediaAsset.labels) == 1" ng-click="remove_label('junk')"><strong>
        Remove Junk Classification
      </strong></md-button>
      <md-button style="background-color: #D3D3D3;" class="dltbtn" ng-if="isJunk(mediaAsset.id, mediaAsset.labels) == 0" ng-click="add_label('junk')"><strong>
        Classify as Junk
      </strong></md-button> -->
    </div>
  </md-dialog-content>
</md-dialog>
