<html>
  <head>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lazysizes/plugins/attrchange/ls.attrchange.min.js" async=""></script>
    <script src="bower_components/lazysizes/lazysizes.min.js" async=""></script>
    <script type="text/javascript">
      var dropZone = document.getElementById('dropZone');

      function showDropZone() {
        dropZone.style.visibility = "visible";
      }

      function hideDropZone() {
        dropZone.style.visibility = "hidden";
      }

      function allowDrag(e) {
        e.dataTransfer.dropEffect = 'copy';
        e.preventDefault();
      }

      function handleDrop(e) {
        e.preventDefault();
        console.log(e);
        angular.element(this).scope().upload.select(e);
        console.log("Drop");
        angular.element(this).scope().upload.show();
        // If dropped items aren't files, reject them
        var dt = e.dataTransfer;
        if (dt.items) {
          // Use DataTransferItemList interface to access the file(s)
          for (var i=0; i < dt.items.length; i++) {
            if (dt.items[i].kind == "file") {
              var f = dt.items[i].getAsFile();
              console.log("... file[" + i + "].name = " + f.name);
              // angular.element(this).scope().upload.images.push(f);
            }
          }
        } else {
          // Use DataTransfer interface to access the file(s)
          for (var i=0; i < dt.files.length; i++) {
            console.log("... file[" + i + "].name = " + dt.files[i].name);
            angular.element(this).scope().upload.images.push(dt.files[i]);
          }
        }
        // console.log(angular.element(this).scope().upload.images);
        // angular.element(this).scope().upload.show();
        // e.upload.show();
        // $scope.upload.images.push(e;
        alert('Drop!');
        hideDropZone();
      }

      window.addEventListener('dragenter', function(e) {
        showDropZone();
      });
      dropZone.addEventListener('dragover', allowDrag);
      dropZone.addEventListener('dragleave', function(e) {
        hideDropZone();
      });
      dropZone.addEventListener('drop', handleDrop);
    </script>

    <style type="text/css">
      div#dropZone {
        /*background: black;
        border-color: lightgray;
        border-width: 7px;
        border-style: dashed;*/
        text-align: center;
        vertical-align: middle;
        position: fixed;
        top: 65px;
        left: 350px;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0.8;
        visibility: hidden;
        position: center;
        /*padding-top: 200px;*/
        /*color: gray;*/
        font-size: 5em;
        outline: 15px solid white;
        margin: 15px;
      }
    </style>
  </head>

  <body>
    <div class="gridListdemoBasicUsage">
      <div class="uploader" id="dropZone">
        <div>Drag &amp; Drop Images Here</div>
        <label>
          <span>Select Image</span>
          <input type="file" style="display:none;" title="Click to add Images" name="files" id="img-upload-btn">
        </label>
      </div>

      <div class='md-padding' layout="row" layout-align="center center" layout-wrap>
        <!-- <div infinite-scroll="addMoreItems()" infinite-scroll-distance='2'>  stacks the images...-->

        <!-- Following Code generates all the thumbnails. -->
        <md-card class="card-img-parent" style="max-width: 150px; max-height: 150px;" ng-repeat="slide in currentSlides" ng-click="showImageInfo($event, $index)">

          <!-- <div style="border: 1px solid black;"> -->

          <img class="lazyload" data-src="{{slide.url}}" style="max-height: 150px; max-width: 150px; width: auto" />

          <!-- </div> -->

        </md-card>
      </div>
    </div>
  </body>
</html>
